<ion-content>
  <div style="text-align: center; font-weight: 500; padding-top: 40px;">
    <h2>Reset your Password?</h2>
  </div>

  <blockquote style="text-align: center; font-weight: 500; color: darkgray; font-family: 'Roboto', sans-serif;">
    Enter the OTP send to your registered email.Please enter OTP below. 
  </blockquote>

  <div>
    <img src="assets/Reset.jpg" alt="JustO" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; height: 250px; border-radius: 10px;">
  </div>

  <br>


<!-- <div class="container"> -->
 
     
  <form [formGroup]="form" (ngSubmit)="onsubmit()">
  
      <div class="form-group">
          <!-- <label for="password">otp</label> -->
          <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
            <ion-input placeholder="Enter OTP" id="otp" [(ngModel)]=" userresetpass.otp" formControlName="otp" type="tel" maxlength="6"></ion-input>
          </ion-item-group>
         

          <div  *ngIf="f.otp.touched && f.otp.invalid" class="alert alert-danger">
              <div class="ion-margin-horizontal ion-margin-bottom" *ngIf="f.otp.errors.required" style="color: red;">Please Enter Your Otp</div>
          </div>
      </div>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
        <ion-input type="password"  id="newpass"  placeholder="Enter New Password" [(ngModel)]=" userresetpass.newpass" formControlName="newpass"></ion-input> 
      </ion-item-group>
      <div class="form-group">
       

        <div *ngIf="f.newpass.touched && f.newpass.invalid" class="alert alert-danger">
            <div class="ion-margin-horizontal ion-margin-bottom" *ngIf="f.newpass.errors.required" style="color: red;">Password is required.</div>
        </div>
    </div>
      <div class="form-group">
          <!-- <label for="confirm_password">Confirm Password</label> -->
          <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
            <ion-input type="password"  id="confirm_password" placeholder="Re-Enter Password" [(ngModel)]=" userresetpass.repass" formControlName="confirm_password"></ion-input> 
          </ion-item-group>
         

          <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
              <div class="ion-margin-horizontal ion-margin-bottom" *ngIf="f.confirm_password.errors.required" style="color: red;">Password is required.</div>
              <div class="ion-margin-horizontal ion-margin-bottom" *ngIf="f.confirm_password.errors.confirmedValidator" style="color: red;">Password and Re-Enter Password must be match.</div>
          </div>
      </div>
      
      <!-- <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button> -->
      <ion-button type="submit" [disabled]="!form.valid" expand="block" class="ion-padding-start ion-padding-end bgcolor" >SEND</ion-button>
  </form>
<!-- </div> -->
  <br>

</ion-content>
