<ion-content>
  <div style="text-align: center; font-weight: 500; padding-top: 40px;">
    <h2>Reset your Password?</h2>
  </div>

  <blockquote style="text-align: center; font-weight: 500; color: darkgray; font-family: 'Roboto', sans-serif;">
    Enter the OTP send to your registered email.Please enter OTP below. 
  </blockquote>

  <div>
    <img src="assets/Reset.jpg" alt="JustO" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; height: 250px; border-radius: 10px;">
  </div>

  <br>
  <form [formGroup]="resetpassform" #userpost="ngForm" novalidate (ngSubmit)="onsubmit()">
  <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
    <ion-input placeholder="Enter OTP" [(ngModel)]=" userresetpass.otp" formControlName="otp"></ion-input>
  </ion-item-group>

  <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
    <ion-input placeholder="Enter New Password" [(ngModel)]=" userresetpass.newpass" formControlName="newpass"></ion-input> 
  </ion-item-group>

  <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
    <ion-input placeholder="Re-Enter Password" [(ngModel)]=" userresetpass.repass" formControlName="repass"></ion-input> 
  </ion-item-group>

  <br>
  <div *ngIf="resetpassform.get('otp').hasError('required') && resetpassform.get('otp').touched" >
    <p style="color: red;">Please enter your otp</p> 
   </div>
   <div *ngIf="resetpassform.get('newpass').hasError('required') && resetpassform.get('newpass').touched" >
    <p style="color: red;">Please enter your New Password</p> 
   </div>
   <div *ngIf="resetpassform.get('repass').hasError('required') && resetpassform.get('repass').touched" >
    <p style="color: red;">Please enter your Re-Enter Password</p> 
   </div>

  <ion-button type="submit" [disabled]="!resetpassform.valid" expand="block" class="ion-padding-start ion-padding-end" color="secondary">SEND</ion-button>
</form>
  <br>

</ion-content>
