<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;">JUSTO POLICY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <h1 class="heading-color">PRIVACY POLICY</h1>
    <p>This privacy policy applies to data and any information collected by JustO is as follows
      Sensitive personal data or information is such personal information that is collected, received, stored,
      transmitted or processed by the company, consisting of:
    </p>


    <p>
      1. Financial information such as bank account or Credit card or Debit card or other payment instrument details.
    </p>
    <p>
      2. PAN/GST details.
    </p>
    <p>
      3. Any detail relating to the store information received under above retails store information categories by the
      Company for processing, stored or processed under lawful contract or otherwise.

      Please note that is freely available or accessible in public Domain or furnished under the Right to
      Information Act -2000 or any other law for the time being in force shall not be regarded as sensitive personal
      information.

    </p>
  </div>

  <div class="banner">
    <h2 class="heading-color">DELIVERY POLICY</h2>
    <p>Order once placed, are usually delivered in 2 business days. Delivery time may vary depending
      Upon the shipping address and other factors like (public holidays, extreme weather conditions, etc).
      You can track your order once it is placed to dispatch from our warehouse. A notification will be sent on dispatch
      of the order. You can also track it in our mobile app by using the received Order ID.
      On delivery of the consignment the Retailer must confirm the received order and return a copy of the attested
      invoice with our Executive.
    </p>
  </div>

  <div class="banner">
    <h2 class="heading-color">RETURN POLICY</h2>
    <p>All packages are sealed and the retailer need not accept packages where the seal is tampered of a damaged box
      will automatically disqualify any return claims for physically damaged or defective products, incorrect product or
      missing accessories.

      A retailer can request for replacement due to the following reasons: damaged in shipped, defective items, item(s)
      missing, wrong item shipped. One must raise a replacement request within duration of 7 days from the date of
      delivery of the goods. All the goods to be returned must be in their original conditions along with the following:
    </p>
    <p>a) Original Order invoice</p>
    <p>b) Original packing with labels, user manuals and waranty cards</p>
    <p>c) Serials number of the product being returned should match our system</p>
    <p>d) Any accessories or components, combo, freebies you received with the purchased.</p>
    <p>All shipping and other replacement charges shall be borne and incurred by JustO.</p>

  </div>

  <div class="banner">
    <h2 class="heading-color">Amendment to User(s) Agreement</h2>
    <p>Justo may change, modify, amend, or update this agreement from time to time without any prior notification to
      user(s) and the amended and restated terms and conditions of use shall be effective immediately on posting. You
      are advised to regularly check for any amendments or updates to the terms and conditions contained in this User
      agreement in our mobile App.
    </p>
  </div>
</ion-content>