<ion-header >
  <ion-toolbar color="light" >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;" >Thank you</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 

   <ion-card style="margin-top: 90px;">
    <ion-card-content >
      <img class="cart-style" src="assets/img/confirm1.png"/>
    </ion-card-content>
    <div class="button" routerLink="/home" routerDirection="root">
      <button mat-flat-button class="bgcolor1" style="width: 80%;  color:white">Continue Shopping</button>
    </div> 
  <br>
  </ion-card>

  <!-- <div class="cart">
      <img class="cart-style" src="assets/img/confirm1.png"/>
    </div> -->

    
       
    
      <div style="height: 5%;">
      </div> 
</ion-content>
