<ion-header >
  <ion-toolbar color="light" >
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="/home" style="margin-top: -6px;"></ion-back-button>
        </ion-buttons>
    <ion-title >THANK YOU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <div style="margin-top: 90px;">
    <img class="cart-style" src="assets/img/confirm1.png"/>
    <div class="button" routerLink="/home" routerDirection="root">
      <button mat-flat-button class="bgcolor1" style="width: 80%;  color:white">Continue Shopping</button>
    </div> 
  <br>
  </div>

  <!-- <div class="cart">
      <img class="cart-style" src="assets/img/confirm1.png"/>
    </div> -->

    
       
    
      <div style="height: 5%;">
      </div> 
</ion-content>
