<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/home"></ion-back-button>
            </ion-buttons>
            <!-- <ion-buttons slot="start">
              <ion-menu-button color="Medium"></ion-menu-button>
            </ion-buttons> -->
          </div>
        </ion-col>

        <ion-col size="4">
          <div style="font-size: 16px;"><b>{{title}}</b> </div>
        </ion-col>

        <ion-col size="1.4" >
          <div > <mat-icon (click)="search()" class="icon-green-color header-icon-size">search</mat-icon></div>
        </ion-col>

        <ion-col size="1.8" >
          <div routerLink="/wishlist" routerDirection="root">
            <!-- <mat-icon (click)="wishlistbtn()" style="color: #0ed0f1; font-size: 32px">favorite</mat-icon> -->
            <ion-icon name="heart-outline" (click)="wishlistbtn()" class="icon-green-color header-icon-size"></ion-icon>
           
            <p class="bagde-icon" > {{cartService.wishlistItemCount}}</p>

          </div>
        </ion-col>
        <ion-col size="1.8" >
          <div routerLink="/cart" routerDirection="root">
             <!-- <mat-icon style="color: #0ed0f1; font-size: 32px">shopping_cart</mat-icon> -->
             <ion-icon name="cart-outline" class="icon-green-color header-icon-size"></ion-icon>
            
             <p class="bagde-icon" >{{cartService.cartItemCount}}</p>
          </div>
       </ion-col>
     
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="onScroll($event)">

  <ion-card class="ion-text-center empty" *ngIf="topdata.length ===0 && deals.length ===0 && topdata1.length ===0 && loaddata ==1">
    <ion-card-header>
       <!-- <ion-icon class="cimage" name="cart-outline"></ion-icon> -->
      <ion-card-title>No Product in {{title}}!</ion-card-title>
      <!-- <ion-card-subtitle>Add items to it now.</ion-card-subtitle> -->
    </ion-card-header>
 
    <ion-card-content>
      <ion-button color="secondary" expand="block" size="small" routerLink="/home">
       Shop now
      </ion-button>
    </ion-card-content>
  </ion-card>

  

  <!-- <mat-card> -->

    <!-- <div class="main11">
      <div class="main-bag">
        <ion-grid style="border-bottom: none;">
          <ion-row>
            <ion-col class="productcat" *ngFor="let productlist of topdata;let i = index"
              style="text-align: -webkit-center;margin: 0%;" routerLink="/gown" routerDirection="root">
              <div class="bag1">
                <img class="bag-purse" src="{{productlist.imagePath}}" style="max-height: 50px;">
              </div>
              <div class=tx style="color: black;">{{productlist.label}}</div>
              <div class="main_cart_btn">
                <ion-button class="cart_btn" expand="full" (click)="addToCart(product)" color="dark">Add To Cart
                </ion-button>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </div> -->


    <!-- <div class="main11">
      <div class="main-bag">

        <div class="bag1">
          <img class="bag-purse" src="assets/img/y.png" routerLink="/details" routerDirection="root" /><b>Floral Gown
            <br><i class="fa fa-inr">899</i></b>
          <div class="main_cart_btn">
            <ion-button class="cart_btn" expand="full" (click)="addToCart(product)" color="dark">Add To Cart
            </ion-button>
          </div>
        </div>

        <div class="bag2">
          <img class="bag-purse" src="assets/img/z.png" /><b> Fashionable Gown <br><i class="fa fa-inr">1199</i></b>
          <div class="main_cart_btn">
            <ion-button class="cart_btn" expand="full" (click)="addToCart(product)" color="dark">Add To Cart
            </ion-button>
          </div>
        </div>

      </div>

    </div> -->


  <!-- </mat-card> -->
<!-- main cat product list -->
 
<!-- <ion-grid>
  <ion-row>
     <ion-col class="maincard" size="6" *ngFor="let productlist of topdata;let i = index"
        style="text-align: -webkit-center;margin: 0%; "  >
        
        <div class="p-image" >
           <img (click)="productdetails(productlist.id)" class="img-responsive productcatimg" onerror="this.src='/assets/img/placeholder.png';"  [defaultImage]="'/assets/img/placeholder.png'" [lazyLoad]="productlist.imagePath">
        </div>
        <div>
          <div (click)="productdetails(productlist.id)" class="tx" style="color: black; font-size: 14px; margin-bottom: 7px;"><b>{{productlist.cf_966}}</b></div>
          <div (click)="productdetails(productlist.id)" class="tx" style="color: black; font-size: 14px; margin-bottom: 5px; font-family: Roboto,Arial,sans-serif;;"><b>{{productlist.label}}</b></div>
          <div (click)="productdetails(productlist.id)" class="tx tx2" style="color: #fff; font-size: 12px;"> <span style="font-weight: 600;">MRP:</span> <b> &#x20b9; {{productlist.unit_price}}</b></div>
          <div (click)="productdetails(productlist.id)" class="tx tx1" style="  font-size: 12px;"> <span style="font-weight: 600;">JustO DEAL:  &#x20b9; {{productlist.justodeal}}</span></div>

        </div>
   
        <div class="main_cart_btn">
          <ion-button size="default" color="light"  (click)="addtocart(productlist.id)"  >Add To Cart</ion-button>
          <ion-icon [name]="productlist.isfilled ? 'heart' : 'heart-outline' "  (click)="toggleWishlist(productlist)"></ion-icon>

      
        </div>
     </ion-col>
  </ion-row>
</ion-grid> -->

<div class="cart-items">
  <ion-card *ngFor="let productlist of topdata;let i = index">
    <ion-card-content>
      <div class="item-img">
        <img (click)="productdetails(productlist.id)" class="img-responsive productcatimg" onerror="this.src='/assets/img/placeholder.png';" [defaultImage]="'/assets/img/placeholder.png'" [lazyLoad]="productlist.imagePath">
      </div>

      <div class="item-info">
        <p (click)="productdetails(productlist.id)">{{productlist.cf_966}}</p>
        <p (click)="productdetails(productlist.id)">{{productlist.label}}</p>
        <div class="tx1">
          <span (click)="productdetails(productlist.id)">MRP: &#x20b9; {{productlist.unit_price}}</span>
        </div>
        <div class="tx2">
          <span (click)="productdetails(productlist.id)">JustO DEAL: &#x20b9; {{productlist.justodeal}}</span>
        </div>
      </div>
      <span >
        <ion-icon style="font-size: 20px;" [name]="productlist.isfilled ? 'heart' : 'heart-outline' "  (click)="toggleWishlist(productlist)"></ion-icon>
      </span>
    </ion-card-content>
  </ion-card>
</div>

<!-- Subcat product list-->

 <!-- <ion-grid>
  <ion-row>
     <ion-col class="maincard" size="6" *ngFor="let productlist of topdata1;let i = index"
        style="text-align: -webkit-center;margin: 0%; "  >
        <div class="p-image" >
           <img (click)="productdetails(productlist.id)" class="img-responsive productcatimg" onerror="this.src='/assets/img/placeholder.png';"  [defaultImage]="'/assets/img/placeholder.png'" [lazyLoad]="productlist.imagePath">
        </div>
        <div>
          <div (click)="productdetails(productlist.id)" class="tx" style="color: black; font-size: 14px; margin-bottom: 7px;"><b>{{productlist.cf_966}}</b></div>
          <div (click)="productdetails(productlist.id)" class="tx" style="color: black; font-size: 14px; margin-bottom: 5px; font-family: Roboto,Arial,sans-serif;;"><b>{{productlist.label}}</b></div>
          <div (click)="productdetails(productlist.id)" class="tx tx2" style="color: #fff; font-size: 12px;"> <span style="font-weight: 600;">MRP:</span> <b> &#x20b9; {{productlist.unit_price}}</b></div>
          <div (click)="productdetails(productlist.id)" class="tx tx1" style="  font-size: 12px;"> <span style="font-weight: 600;">JustO DEAL:  &#x20b9; {{productlist.justodeal}}</span></div>

        </div>
   
        <div class="main_cart_btn">
          <ion-button size="default" color="light"  (click)="addtocart(productlist.id)"  >Add To Cart</ion-button>
          <ion-icon [name]="productlist.isfilled ? 'heart' : 'heart-outline' "  (click)="toggleWishlist(productlist)"></ion-icon>

      
        </div>
     </ion-col>
  </ion-row>
</ion-grid> -->

<div class="cart-items">
  <ion-card *ngFor="let productlist of topdata1;let i = index">
    <ion-card-content>
      <div class="item-img">
        <img (click)="productdetails(productlist.id)" class="img-responsive productcatimg" onerror="this.src='/assets/img/placeholder.png';" [defaultImage]="'/assets/img/placeholder.png'" [lazyLoad]="productlist.imagePath">
      </div>

      <div class="item-info">
        <p (click)="productdetails(productlist.id)">{{productlist.cf_966}}</p>
        <p (click)="productdetails(productlist.id)">{{productlist.label}}</p>
        <div class="tx1">
          <span (click)="productdetails(productlist.id)">MRP: &#x20b9; {{productlist.unit_price}}</span>
        </div>
        <div class="tx2">
          <span (click)="productdetails(productlist.id)">JustO DEAL: &#x20b9; {{productlist.justodeal}}</span>
        </div>
      </div>
      <span >
        <ion-icon style="font-size: 20px;" [name]="productlist.isfilled ? 'heart' : 'heart-outline' "  (click)="toggleWishlist(productlist)"></ion-icon>
      </span>
    </ion-card-content>
  </ion-card>
</div>

<!-- Deals Product List -->
<ion-grid>
  <ion-row>
     <ion-col class="maincard" size="6" *ngFor="let productlist of deals;let i = index"
        style="text-align: -webkit-center;margin: 0%; "  >
        <!-- <div class="budge_offer"><span > {{productlist.discount}}%</span> </div> -->
        <div class="p-image">
           <img (click)="productdetails(productlist.id)" class="img-responsive productcatimg"   onerror="this.src='/assets/img/placeholder.png';" [defaultImage]="'/assets/img/placeholder.png'" [lazyLoad]="productlist.imagePath">
        </div>
        <div (click)="productdetails(productlist.id)" class=tx style="color: black; font-size: 12px; margin-bottom: 15px;">{{productlist.cf_966}}</div>
        <div (click)="productdetails(productlist.id)" class=tx style="color: black; font-size: 12px; margin-bottom: 15px;">{{productlist.label}}</div>
        <div (click)="productdetails(productlist.id)" class="tx tx1" style="  font-size: 12px;"> <span style="font-weight: 600;">JustO DEAL:  </span>&#x20b9; {{productlist.justodeal}}</div>

        
        <!-- <div (click)="productdetails(productlist.id)" class=tx style="color: black; font-size: 12px;">Upto {{productlist.discount_percent}}% off</div> -->
        <div class="main_cart_btn">
          <ion-button size="default" color="light"  (click)="addtocart(productlist.id)" (click)="cartdata(productlist)"  >Add To Cart</ion-button>

        
        </div>
     </ion-col>
  </ion-row>
</ion-grid>


<ion-infinite-scroll threshold="100px" (ionInfinite)="getproductlist($event)" *ngIf="disable==0">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>


<!-- <ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons> -->