<ion-header>
  <ion-toolbar color="light" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;">MY DEALERS</ion-title>
    <ion-buttons slot="end" (click)="presentActionSheet()" >
      <ion-icon name="funnel-outline" class="icon-green-color header-icon-size" style="padding: 20px;"></ion-icon>
      

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button layout="ion-only">
      &nbsp;
    </ion-button>
  </ion-buttons>
  <ion-searchbar mode="ios" [(ngModel)]="value" style="padding: 16px 0px;" (ionChange)="resetFilters_clear($event)"  (ionClear) ="resetFilters()" (ionCancel) ="resetFilters()"></ion-searchbar> 
  <ion-buttons slot="end">
    &nbsp;
     <!-- <ion-button (click)="applyFilters()" class="ion-text-capitalize"  color="dark" fill="outline" shape="round"> 
      Go
    </ion-button> -->

    <ion-button (click)="applyFilters()" size="large"  class="go_button"  style="color: #259b8d;" fill="outline"   >Go</ion-button>
  </ion-buttons>
</ion-toolbar>
<!-- <ion-searchbar [(ngModel)]="value" 
(ionChange)="applyFilters($event)" (ionClear) ="resetFilters()" (ionCancel) ="resetFilters()" animated></ion-searchbar>
 -->
<ion-content (ionScroll)="onScroll($event)">

  <h3 class="ion-text-center" *ngIf="dealers.length == 0 ">{{Error_message}}</h3>
  <ion-grid class="investor " *ngFor="let d of dealers; let i = index;">
    <ion-row class="ion-no-padding">
        <ion-col size="12" class="ion-no-padding">
            <ion-row>               
                <ion-col class="ion-padding">
                    <div class="second">

                        <ion-label>{{d.accountname}}</ion-label>

                        <ion-text>
                          <ion-icon name="call" style="color: #259b8d;"></ion-icon>
                          <!-- <img src="/assets/icon/phone.svg">  -->
                          <span *ngIf="d.phone != '' && d.phone != 'undefined' "> 
                          <a href="tel:{{d.phone}}" style=" text-decoration: none;"> {{d.phone}}</a></span> <span *ngIf="d.phone == '' || d.phone == 'undefined' "> - </span> </ion-text>

                        <ion-text>
                          <ion-icon name="mail" style="color: #259b8d;"></ion-icon>
                          <!-- <img src="/assets/icon/mail.svg"> -->
                          <span *ngIf="d.email1 != '' && d.email1 != 'undefined' ">
                          <a href="mailto:{{d.email1}}" style=" text-decoration: none;"> {{d.email1}}</a> </span> <span *ngIf="d.email1 == '' || d.email1 == 'undefined' "> - </span></ion-text>
                        
                          <ion-label class="outstanding">
                            Total Billed
                            <span >
                          {{d.invoicetotal | currency: 'INR'}}
                          </span> 
                        
                        </ion-label>
                          
                        <ion-label class="outstanding">
                          Total Paid
                          <span >
                        {{d.paymenttotal | currency: 'INR'}}
                        </span> 
                      
                      </ion-label>
                      <ion-label class="outstanding">
                        Total Due
                        <span >
                      {{d.balance | currency: 'INR'}}
                      </span> 
                    
                    </ion-label>
                          
                    </div>                    
                </ion-col>
               
            </ion-row>
        </ion-col>
        

    </ion-row>

</ion-grid>

<ion-infinite-scroll threshold="100px" (ionInfinite)="getDealers($event)" *ngIf="disable==0">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
