.banner{
    width: 100%;
   height: 100%;
   vertical-align: middle;
   }
   h1{
    margin: 300px 0 16px;
    color: rgb(235, 31, 31); 
    text-align: center;
    font-weight: 600;
    font-size :xx-large;
   }
   p{
    // margin: 300px 0 16px;
    color: black; 
    text-align: center;
    font-weight: 600;
    font-size: large;
   }