<ion-header>
  <ion-toolbar color="light" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;">CUSTOMER SUPPORT </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>HELPDESK 24/7 SUPPORT</h1>
  <p class="para">Contact Us</p>

  <ion-card class="main-header">
    <div align="center">
      <ion-avatar style="background-color: white">
        <img src="assets/call.png" />
      </ion-avatar>
      <p class="para1">Talk to a member of our sales team</p>
      <a href="tel:8050010030">
        <ion-button fill="outline" class="downbutton"
        ><ion-icon name="call" class="ion-padding-end"></ion-icon
        >+918050010030</ion-button>
      </a>
      
    </div>
  </ion-card>

  <ion-card class="main-header">
    <div align="center">
      <ion-avatar style="background-color: white">
        <img src="assets/mail3.jpg" />
      </ion-avatar>
      <p class="para1">Reach out to us via mail</p>
      <a href="mailto:info@justo4u.com">
      <ion-button fill="outline" class="downbutton"
        ><ion-icon name="mail" class="ion-padding-end"></ion-icon
        >mailto:info@justo4u.com</ion-button></a>
    </div>
  </ion-card>

  <ion-card class="main-header">
    <div align="center">
      <ion-avatar style="background-color: white">
        <img src="assets/globe.jpg" />
      </ion-avatar>
      <p class="para1">You can view our website</p>
      <a href="https://www.justo4u.com/" target="_blank">
      <ion-button fill="outline"class="downbutton"
        ><ion-icon name="globe" class="ion-padding-end"></ion-icon
        >https://www.justo4u.com/</ion-button></a>
    </div>
  </ion-card>
  
<div class="address">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1944.5078335764188!2d77.5837272!3d12.906714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae157b87b2973d%3A0x46fac177ca452b0b!2sJustO%20E-Commerce%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1638447672110!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
     
 
</ion-content>
