<ion-content>
  <div style="text-align: center; font-weight: 500; padding-top: 40px;">
    <h2>Forgot your Password?</h2>
  </div>

  <blockquote style="text-align: center; font-weight: 500; color: darkgray; font-family: 'Roboto', sans-serif;">
    Enter your registered username and email/phone number below to receive password reset instruction 
  </blockquote>

  <div>
    <img src="assets/Forget.jpg" alt="JustO" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; height: 250px;">
  </div>
  <form [formGroup]="forgetpassform" #userpost="ngForm" novalidate (ngSubmit)="onsubmit()">
  <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
    <ion-input id="username"  placeholder="User Name"[(ngModel)]=" userforgetpass.username" formControlName="username"></ion-input>
    
  </ion-item-group>
  <div class="ion-margin-horizontal ion-margin-bottom" *ngIf="forgetpassform.get('username').hasError('required') && forgetpassform.get('username').touched" >
    <p style="color: red;">Please Enter Your User Name</p> 
   </div>

  <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="border: 2px solid darkgray; padding-left: 20px; padding-right: 20px; border-radius: 5px;">
    <ion-input id="email" placeholder="Email Or Phone Number"[(ngModel)]=" userforgetpass.email" formControlName="email"></ion-input> 
  </ion-item-group>

   <div class="ion-margin-horizontal ion-margin-bottom" *ngIf="forgetpassform.get('email').hasError('required') && forgetpassform.get('email').touched" >
    <p style="color: red;">Please Enter Your Email Or Phone Number</p> 
   </div>

   <div class="ion-margin-horizontal ion-margin-bottom" *ngIf="error != ''" >
    <p style="color: red;">{{error}}</p> 
   </div>
  <ion-button type="submit" [disabled]="!forgetpassform.valid" expand="block" class="ion-padding-start ion-padding-end bgcolor">SEND</ion-button>

  <br>

  <p style="text-align: center; font-size: 20px; font-weight: bold; color: grey;">
    <small>Remember Password? <a routerLink="/signup" routerDirection="backward" class="a">Login</a></small>
  </p>
</form>

</ion-content>
